[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
black = "*"
kaggle = "*"
python-decouple = "*"
dask = {extras = ["dataframe"], version = "*"}
pandas = "*"
jupyter = "*"
pymysql = "*"
uvicorn = "*"
jinja2 = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
